<!--<div class="footer">-->
<!--<p jhiTranslate="footer">This is your footer</p>-->
<!--</div>-->

<footer class="footer bg-pde-green">
    <div class="img-footer">
        <img  src="../../../content/images/img_pde/nome_acaipde.png">
    </div>
    <div class="rede-social-footer">
        <a href="#">
            <fa-icon [icon]="facebook" [fixedWidth]="true"></fa-icon>
        </a>
        <a href="#">
            <fa-icon [icon]="twitter" [fixedWidth]="true"></fa-icon>
        </a>
        <a href="#">
            <fa-icon [icon]="instagram" [fixedWidth]="true"></fa-icon>
        </a>
    </div>
    <div class="conteudo-footer">
        <span>Desenvolvido por
            <strong> Açai Paidegua</strong>
        </span>
    </div>
</footer>
