<!--<div class="footer">-->
<!--<p jhiTranslate="footer">This is your footer</p>-->
<!--</div>-->

<div class="row align-items-center footer">
        <div class="col-12 col-md-2 footer-title-img">
            <img class="img-=fluid footer-img" src="../../../content/images/img_pde/nome_acaipde.png">

        </div>
        <div class="col-12 col-md-6 text-center footer-social">
            <a href="#" class="face">
                <fa-icon [icon]="facebook" [fixedWidth]="true"></fa-icon>
            </a>
           
            <a href="#" class="twitter">
                <fa-icon [icon]="twitter" [fixedWidth]="true"></fa-icon>
            </a>
            <a href="#" class="insta">
                <fa-icon [icon]="instagram" [fixedWidth]="true"></fa-icon>
            </a>
        </div>
        <div class="col-12 col-md-4 text-center">
            <span>Desenvolvido por
                <strong> Açai Paidégua</strong>
            </span>
        </div>

</div>