.footer {
    color: white;
}

.footer-img {
    width: 60%;
    height: auto;
}

.footer-social fa-icon {
    margin-right: 10px;
    padding: 2px;
    color: white;
    font-size: 40px;
    border-radius: 40px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    transition: color 0.5s linear;
}

.footer-social .face fa-icon {
    background-color: #3b5998;
}

.footer-social .twitter fa-icon {
    background-color: #00acee;
}

.footer-social .insta fa-icon {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.footer-social fa-icon:hover {
    opacity: 0.8;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .footer-img {
        width: 30%;
        height: auto;
    }

    .footer-title-img {
        text-align: center;
    }

    .footer-social fa-icon {
        font-size: 30px;
    }
}
