<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-horario-funcionamento-heading" jhiTranslate="newacaipaideguaApp.horarioFuncionamento.home.createOrEditLabel">Create or edit a Horario Funcionamento</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!horarioFuncionamento.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="horarioFuncionamento.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newacaipaideguaApp.horarioFuncionamento.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" [(ngModel)]="horarioFuncionamento.tipo" id="field_tipo"  required>
                        <option value="COMERCIAL">{{'newacaipaideguaApp.TipoHorario.COMERCIAL' | translate}}</option>
                        <option value="DELIVERY">{{'newacaipaideguaApp.TipoHorario.DELIVERY' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.tipo?.dirty && editForm.controls.tipo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newacaipaideguaApp.horarioFuncionamento.diasSemana" for="field_diasSemana">Dias Semana</label>
                    <input type="text" class="form-control" name="diasSemana" id="field_diasSemana"
                        [(ngModel)]="horarioFuncionamento.diasSemana" required/>
                    <div [hidden]="!(editForm.controls.diasSemana?.dirty && editForm.controls.diasSemana?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.diasSemana?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newacaipaideguaApp.horarioFuncionamento.hrAbertura" for="field_hrAbertura">Hr Abertura</label>
                    <input type="text" class="form-control" name="hrAbertura" id="field_hrAbertura"
                        [(ngModel)]="horarioFuncionamento.hrAbertura" required/>
                    <div [hidden]="!(editForm.controls.hrAbertura?.dirty && editForm.controls.hrAbertura?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hrAbertura?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newacaipaideguaApp.horarioFuncionamento.hrFechamento" for="field_hrFechamento">Hr Fechamento</label>
                    <input type="text" class="form-control" name="hrFechamento" id="field_hrFechamento"
                        [(ngModel)]="horarioFuncionamento.hrFechamento" required/>
                    <div [hidden]="!(editForm.controls.hrFechamento?.dirty && editForm.controls.hrFechamento?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hrFechamento?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newacaipaideguaApp.horarioFuncionamento.estabelecimento" for="field_estabelecimento">Estabelecimento</label>
                    <select class="form-control" id="field_estabelecimento" name="estabelecimento" [(ngModel)]="horarioFuncionamento.estabelecimentoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estabelecimentoOption.id" *ngFor="let estabelecimentoOption of estabelecimentos; trackBy: trackEstabelecimentoById">{{estabelecimentoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
