.app {
    margin: 0;
    display: grid;
    grid-template-rows:
        65px
        1fr
        65px;
    grid-template-areas:
        'header'
        'content'
        'footer';
    height: 100vh;
}

.app-nav {
    grid-area: header;
}

.app-content {
    grid-area: content;
}

.app-footer {
    grid-area: footer;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .main-sm {
        min-height: 415px;
    }
}
