<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tabela-preco-heading" jhiTranslate="newacaipaideguaApp.tabelaPreco.home.createOrEditLabel">Create or edit a Tabela Preco</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tabelaPreco.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tabelaPreco.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newacaipaideguaApp.tabelaPreco.preco" for="field_preco">Preco</label>
                    <input type="number" class="form-control" name="preco" id="field_preco"
                        [(ngModel)]="tabelaPreco.preco" required/>
                    <div [hidden]="!(editForm.controls.preco?.dirty && editForm.controls.preco?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.preco?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.preco?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newacaipaideguaApp.tabelaPreco.estabelecimento" for="field_estabelecimento">Estabelecimento</label>
                    <select class="form-control" id="field_estabelecimento" name="estabelecimento" [(ngModel)]="tabelaPreco.estabelecimentoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estabelecimentoOption.id" *ngFor="let estabelecimentoOption of estabelecimentos; trackBy: trackEstabelecimentoById">{{estabelecimentoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="newacaipaideguaApp.tabelaPreco.produto" for="field_produto">Produto</label>
                    <select class="form-control" id="field_produto" name="produto" [(ngModel)]="tabelaPreco.produtoId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="produtoOption.id" *ngFor="let produtoOption of produtos; trackBy: trackProdutoById">{{produtoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
