<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="geolocalizacao">
            <h2><span jhiTranslate="newacaipaideguaApp.geolocalizacao.detail.title">Geolocalizacao</span> {{geolocalizacao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="newacaipaideguaApp.geolocalizacao.latitude">Latitude</span></dt>
                <dd>
                    <span>{{geolocalizacao.latitude}}</span>
                </dd>
                <dt><span jhiTranslate="newacaipaideguaApp.geolocalizacao.longitude">Longitude</span></dt>
                <dd>
                    <span>{{geolocalizacao.longitude}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/geolocalizacao', geolocalizacao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
